body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  background-color: #f6f6f6;
}

p {
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background: none;
  font: inherit;
}

button:hover {
  cursor: pointer;
}

#to-do-app {
  width: 485px;
  border: 1px lightgray solid;
  border-radius: 3px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.15);
  box-sizing: border-box;
  margin: 100px;
}

#to-do-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app-entry {
  padding: 0 10px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px lightgray solid;
  height: 50px;
  background-color: white;
}

.task-description {
  display: inline-block;
  margin-left: 10px;
}

.gray-icon {
  color: lightgray;
}

.task-drag:hover {
  color: black;
}

.clear-completed {
  display: block;
  margin: auto;
  height: 55px;
  line-height: 55px;
  text-align: center;
  background-color: #f6f6f6;
  color: gray;
}

.clear-completed:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

#new-item,
#new-item:focus {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-style: italic;
  font-weight: 300;
  width: 90%;
}
